<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nxp.facemanager">

    <uses-feature android:name="android.hardware.camera2.autofocus" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2.flash"
        android:required="false" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Location access is necessary for BLE devices discovery under Android M -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".activity.RegisterFaceDemo1"
            android:label="@string/title_activity_register_face_demo1"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme1.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nxp.facemanager.activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.RegisterFaceDemo" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme1" />
    	<activity android:name=".activity.RegistrationActivity" />
        <activity
            android:name=".activity.CreateUserActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.TrainingActivity" />
        <activity android:name=".activity.DashboardActivity" />
        <activity android:name=".activity.DeviceScanActivity" />
        <activity android:name=".activity.TrainingDataSendActivity" />
        <activity android:name=".activity.SocketActivity" />
        <activity android:name=".activity.ServerList" />
        <activity
            android:name=".activity.StartFGServiceActivity"
            android:theme="@style/AppTheme1" />

        <service android:name=".ble.UARTService" />
        <service
            android:name=".ble.BleScanningService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".ble.BleOnBroadcastReceiverClass"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
	<activity
	android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>
